.venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
/data/*
!/data/processed/
!/data/processed/triplets_cyclone/
!/data/processed/triplets_cyclone/triplet_0013/
!/data/processed/triplets_cyclone/triplet_0013/**
!/data/processed/triplets_cyclone/triplet_0020/
!/data/processed/triplets_cyclone/triplet_0020/**
!/data/processed/triplets_cyclone/triplet_0025/
!/data/processed/triplets_cyclone/triplet_0025/**
!/data/processed/triplets_calm/
!/data/processed/triplets_calm/triplet_0044/
!/data/processed/triplets_calm/triplet_0044/**
!/data/processed/triplets_calm/triplet_0051/
!/data/processed/triplets_calm/triplet_0051/**
*.ipynb_checkpoints/
.ipynb_checkpoints/
lessons/
models/
.claude/
